@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .pad {
        @apply p-2 md:p-4 lg:p-8
    }
    .gap {
        @apply gap-2 md:gap-4
    }
    .rd {
        @apply rounded-xl
    }
    .main {
        @apply
        relative
        w-screen h-screen flex flex-col gap pad
        bg-black text-zinc-100 overflow-hidden
    }
    .section {
        @apply
        relative overflow-hidden
        w-full h-full flex items-center gap pad
        bg-zinc-950 rd border border-zinc-900
    }

    .text {
        @apply text-lg font-light
    }
    .title {
        @apply text-4xl font-black
    }

    .btn {
        @apply
        flex items-center gap-2 p-3
        bg-zinc-950 border-b-2 border-zinc-900
        hover:bg-zinc-900 w-full duration-300
        first:rounded-l-lg last:rounded-r-lg
    }
    .btn-active {
        @apply bg-zinc-100 hover:bg-zinc-100 text-zinc-950
    }

    .section {
        width: 100%;
        height: 100%;
        /* Add your background pattern here */
        --s: 25px; /* control the size */
        --c1: black;
        --c2: theme(colors.zinc.950);
      
        --c: #0000 71%, var(--c1) 0 79%, #0000 0;
        --_s: calc(var(--s) / 2) / calc(2 * var(--s)) calc(2 * var(--s));
        background: linear-gradient(45deg, var(--c)) calc(var(--s) / -2) var(--_s),
          linear-gradient(135deg, var(--c)) calc(var(--s) / 2) var(--_s),
          radial-gradient(var(--c1) 35%, var(--c2) 37%) 0 0 / var(--s) var(--s);
      }
      

}