@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

@layer components {
    .navBtn {
        @apply text-zinc-400 border border-zinc-600 p-2 px-4 duration-300 scale-y-75 origin-bottom;
    }
    .navBtnSelected {
        @apply text-emerald-400 border border-emerald-600 bg-emerald-950 scale-y-100;
    }
}

@layer utilities {
    .animate-scale {
        animation: keyframes-scale .3s ease-in-out;
    }
    @keyframes keyframes-scale {
        0% {
            transform: scale(0.7);
            opacity: 0;
        }
    }
}